* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.icon a img {
    width: 0.75rem;
    margin: 2rem 0 0 0.8rem;
}

.pokemon {
    display: flex;
    flex-direction: column;
}

.number {
    color: #fff;
    font-size: 1rem;
    text-align: right;
    margin: 0rem 2rem 0 0;
}

.name {
    color: #fff;
    font-size: 1.6rem;
    margin: 0.8rem 0 0.2rem 3.6rem;
    text-transform: capitalize;
}

.types {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0 3rem;
}

.type {
    color: #fff;
    padding: 0.25rem 0.4rem;
    margin: 0.225rem 0.2rem;
    border-radius: 1rem;
    font-size: 0.825rem;
    text-align: center;
    filter: brightness(1.1);
}

.img-pokemon {
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
}

.img-pokemon a img {
    height: 8.75rem;
}

.detail {
    height: 70vh;
    background-color: #fff;
    border-radius: 4rem 4rem 0 0;
}

.subtitle {
    color: #1f1d1d;
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    padding: 0.9rem 0 0;
}

.about,
.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: baseline;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.text {
    margin-top: 0.1rem;
    font-size: 0.925rem;
    font-weight: 300;
    text-transform: capitalize;
}

.skill,
.ability {
    margin: 0rem 0rem;
    border-radius: 1rem;
    text-align: center;
    filter: brightness(1.1);
}

.abilities {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

progress {
    -webkit-appearance: none;
    display: inline;
}

.progress-bar::-webkit-progress-bar {
    background-color: #fff;
    border: 0.125rem solid #000;
    border-radius: 0.313rem;
    height: 0.825rem;
    width: 6.25rem;
}

.progress-bar::-moz-progress-bar {
    background-color: #7a7a7a;
    border: 0.125rem transparent #7a7a7a;
    height: 0.625rem;
    width: 7.5rem;
}

progress::-webkit-progress-value {
    background: #22f561;
}

ul.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff00;
    padding: 0px 0;
    border-radius: 4rem;
}


ul.menu li {
    cursor: pointer;
}

.barra-dinamica {
    height: 3px;
    background-color: #0f63ff;
    /* Cor da barra */
    width: 0;
    /* A largura inicial é zero */
    transition: width 0.3s;
    /* Efeito de transição suave */
}

/* Estilos para o conteúdo das abas */
.conteudo {
    display: none;
    padding: 20px;
}

.conteudo.mostrando {
    display: block;
}

@media screen and (min-width: 1000px) and (max-width: 1439px) {
    .name {
        font-size: 2rem;
        margin-left: 1.5rem;
    }

    .type {
        margin-left: 1rem;
    }

    .number {
        font-size: 1rem;
        margin-right: 1.5rem;
    }

    .subtitle,
    .text,
    .ability {
        font-size: 1rem;
    }

    .skills {
        padding-bottom: 7.5rem;
    }
}

@media screen and (min-width: 1400px) {
    .name {
        font-size: 2.5rem;
        margin-left: 1.5rem;
    }

    .type {
        margin-left: 1rem;
        font-size: 1rem;
    }

    .number {
        font-size: 1.5rem;
        margin-right: 1.5rem;
    }

    .subtitle {
        font-size: 1.6rem;
    }

    .text,
    .ability {
        font-size: 1.4rem;
    }
}